# npm init
# npm i typescript 
# npm i ts-node 
# npm i express 
# npm i @types/node 
# npm i @types/express 
# npx tsc --init 
 

 ts-node-dev --respawn ./src/app.ts

"target": "es2016",
"module": "commonjs",
"rootDir": "./src",
"moduleResolution": "node10",
"outDir": "./dist",
"esModuleInterop": true,
"strict": true,
